@model IEnumerable<CaddyShackMVC.Models.GolfBag>

<h1>Golf Bags</h1>

@foreach(var golfbag in Model)
{
    <p><a href="/golfbags/@golfbag.Id">Info</a> ID:@golfbag.Id, Player:@golfbag.Player, Capacity:@golfbag.Capacity</p>
}